body {
    background: url(../images/background.png) top repeat;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 3%
}

#inst {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    min-width: fit-content;
    height: 40px;
    font-size: larger;
}

.instructionBox {
    background-color: whitesmoke;
    border: 10px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width: calc(33.33% - 30px);  
    box-sizing: border-box; 
    margin-right: 20px; 
    vertical-align: top;
}


#bl {
    width: 20vh;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
    height: 40px;
    background-color: white;
}