body {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
body.blueTurn {
  background-image: url(../images/background_blue.png);
}
body.redTurn {
  background-image: url(../images/background_red.png);
}

#changeRoleButton {
  position: fixed;
  top: 1vh;
  left: 5vh;
  width: fit-content;
  height: 5vh;
  padding: 0 1vh;
}

#mainGame {
  position: relative;
}

#clueInput {
  position: absolute;
  display: inline;
  top: -5vh;
  left: 5px;
}

#clueInput input[type="text"] {
  width: 70vh;
  height: 5vh;
}
#clueInput input[type="number"]  {
  width: 9vh;
  height: 5vh;
}
#submitClueButton {
  width: 20vh;
  height: 5vh;
  margin-left: 3px;
  background-color: #158b19;
  color: black;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  background-color: white;
  padding: 5px;
  margin-top: 10px;
}
.card {
  box-sizing: border-box;
  width: 20vh;
  height: 15vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.card.red {
  background-color: #ff6060;
}
.card.blue {
  background-color: #6060ff;
}
.card.yellow {
  background-color: #ffff60;
}
.card.black {
  background-color: #303030;
}
.card.highlight {
  border-width: 3px;
}
.card.revealed {
  opacity: 0.25;
}

#passButton {
  position: absolute;
  right: 5px;
  width: 20vh;
  height: 5vh;
  margin-top: 5px;

  background-color: #158b19;
  color: black;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top:0;
  right: 0;
  width: 2vh;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: 1s;
}
.sidebar.expanded {
  width: 35vh;
  background: white;
  border-left: 2px solid black;
  transition: 1s;
}
#sidebarButton {
  height: 5vh;
  text-align: center;
  border: none;
  background-color: white;
}
.sidebarContent {
  display: none;
}
.sidebarContent.expanded {
  display: block
}
.counters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin: auto;
  text-align: center;
}
#blueLeft {
  color: blue;
}
#redLeft {
  color: red;
}